:root {
    /* debug */
    --alphaColorForDebug: 1;
    /* --gridImageForDebug: url('grid-16x16.png'); */

    /* Wrapper */
    --wrapper: 1120px;

    /* Global colors */
    --white: rgba(255, 255, 255, 1);
    --dark: rgba(51, 51, 51, 1);
    --blue: rgb(39, 88, 121, 1);

    /* Fonts */
    --title: 'Roboto', sans-serif;
    --text: 'Nunito', sans-serif;

}

/* Global */
*, ::after, ::before {
    scroll-padding-top: 95px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    opacity: var(--alphaColorForDebug);
    background-image: var(--gridImageForDebug);
    background-color: var(--white);
    color: var(--dark);
    font-family: var(--text);
    font-size: 1rem;
    line-height: 1;
}
.maxWidthBodyBlue {
    background-color: var(--blue);
    box-shadow: 0 0 0 100vmax var(--blue);
    clip-path: inset(0 -100vmax);
}
.maxWidthBodyDark {
    background-color: var(--dark);
    box-shadow: 0 0 0 100vmax var(--dark);
    clip-path: inset(0 -100vmax);
}
.wrapper {
    margin-inline: max(2rem, 50% - var(--wrapper)/2);
}
img {
    max-width: 100%;
    height: auto;
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 4rem;
}
section h1 {
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.blueDivider {
    margin: 3rem 0 4rem 0;
    width: 100px;
    border-top: 2px solid var(--blue);
    border-radius: 1px;
    
}
.whiteDivider {
    margin: 3rem 0 4rem 0;
    width: 100px;
    border-top: 2px solid var(--white); 
    border-radius: 1px;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding : 1rem 0;
}
header::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid var(--white);
    box-shadow: 0 0 0 100vmax var(--white);
    clip-path: inset(0 -100vmax);
}
header img.profil {
    width: 60px;
    padding: 2px;
    border: 1px solid var(--dark);
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 3px var(--dark);
}
nav ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}
nav li a {
    font-family: var(--title);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 1.5rem;
}
nav li a:hover {
    border-bottom: 2px solid var(--white);
    padding-bottom: 0.25rem;
    transition: all 0.3s;
}
.responsive-nav-btn {
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
  }
@media screen and (max-width: 807px) {
    .responsive-nav-btn {
        display: block;
    }
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header img.profil {
        position: absolute;
        left: 0;
    }
    nav {
        margin-top: 63px;
    }
    nav ul {
        display: none;
        flex-direction: column;
    }
    nav ul li  {
        margin: 1rem 0;
    }
    nav ul li a {
        margin-left: 0;
    }
    .active-nav {
        display: flex;
    }
}

/* SECTION PROFIL */
section.profil p {
    max-width: 500px;
    margin: 1rem 0 3rem 0;
    line-height: 1.5;
    margin-bottom: 5rem;
    margin-top: 2reml;
}
section.profil a {
    color: var(--dark);
    font-family: var(--title);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--dark);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--dark);
    padding: 0.5rem 1rem;
    margin-bottom: 4rem;
    letter-spacing: 1px;
    transition: all 0.4s;
}
section.profil a:hover {
    color: var(--blue);
    border-color: var(--blue);
    box-shadow: 0 0 8px var(--blue);
    transition: all 0.4s;
}

/* SECTION SKILLS */
section.skills {
    color: var(--white);
}
section.skills .containerSkills {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    gap: 8rem;
    margin: 2rem 0 5rem 0;
}
section.skills .containerSkills h2 {
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
section.skills .containerSkills ul li {
    list-style-type: none;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
}
@media screen and (max-width: 807px) {
    section.skills .containerSkills {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}

/* SECTION PORTFOLIO */
section.portfolio .containerPortfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 5rem 0;
}
section.portfolio article {
    position: relative;
    width: 356px;
    height: 186px;
    border: 1px solid var(--blue);
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--blue);
    transition: all 0.5s;
}
section.portfolio article img {
    width: 350px;
    height: 180px;
    border-radius: 8px;
}
section.portfolio article .overlay {
    opacity: 0;
    transition: opacity 0.5s;
}
section.portfolio article:hover {
    transform: scale(1.08);
    transition: all 0.5s;
}
section.portfolio article:hover .overlay {
    display: block;
    position: absolute;
    border-radius: 8px;
    height: 98%;
    width: 99%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--blue);
    opacity: 0.8;
    transition: opacity 0.5s;
}
section.portfolio article .overlay p {
    position: absolute;
    width: 140px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-weight: 500;
}
section.portfolio article .overlay a {
    position: absolute;
    width: 120px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 0;
    border: 1px solid var(--white);
    border-radius: 5px;
    font-weight: 500;
}
@media screen and (max-width: 445px) {
    section.portfolio article {
        max-width: 226px;
        height: auto;
    }
    section.portfolio article img {
        max-width: 220px;
        height: auto;
    }
}

/* SECTION CONTACT */
section.contact {
    color: var(--white);
}
section.contact form {
    margin: 1rem 0 5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
    align-items: center;
    width: 100%;
}
section.contact form .inputFlex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: left;
    flex: 1 0 45%;
}
section.contact form .textareaFlex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: left;
    flex: 1 0 100%;
}
section.contact form label {
    margin: 0 1rem 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}
section.contact form input, section.contact form textarea {
    font-family: var(--text);
    font-size: 1rem;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 1rem 2.5rem 0;
}
section.contact form input.commentError, section.contact form textarea.commentError {
    margin: 0 1rem 0 0;
}
section.contact form input:focus, section.contact form textarea:focus {
    outline: 1px solid var(--dark);
    box-shadow: 0 0 6px var(--white);
}
section.contact form .comments {
    display: none;
    height: 1.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
    font-style: italic;
}
section.contact form .comments-active {
    display: block;
}
section.contact form span {
    flex: 0 0 100%;
    text-align: left;
    margin-left: 1rem;
}
section.contact form span {
    font-weight: bold;
}
section.contact form input[type="button"] {
    outline: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    font-family: var(--title);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--white);
    margin: 3rem auto 0;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    transition: all 0.4s;
}
section.contact form input[type="button"]:hover {
    color: var(--blue);
    background-color: var(--white);
    border-color: var(--blue);
    box-shadow: 0 0 6px var(--white);
    transition: all 0.4s;
}

/* FOOTER */
footer {
    position: relative;
    color: var(--white);
    text-align: center;
    padding: 3rem;
}
footer a {
    position: absolute;
    bottom: 34px;
    right: 1rem;
    transition: all 0.5s;
}
footer a:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    bottom: 31px;
}
@media screen and (max-width: 807px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer p {
        order: 2;
    }
    footer a {
        position: static;
        margin-bottom: 0.5rem;
        order: 1;
    }
}